<div class="widget">
    <h2 class="cityName">{{ weatherData.cityName }}</h2>
    <p class="temperature"> {{ weatherData.temperature }}°C</p>
    <p class="weatherCondition">{{ weatherData.weatherCondition }}</p>
    <div class="temperature-row">
        <div class="temperature-column">
            <div class="arrow">▼</div>
            <p>{{ weatherData.minTemperature }}°C</p>
            <div class="label">Min</div>
        </div>
        <div class="temperature-column">
            <div class="arrow">▲</div>
            <p>{{ weatherData.maxTemperature }}°C</p>
            <div class="label">Max</div>
        </div>
    </div>
</div>