<div class="widget" [ngClass]="{ 'dark-theme': isDarkTheme, 'light-theme': !isDarkTheme }">
    <h2 class="cityName">{{ weatherData.cityName }}</h2>
    <img [src]="'http://openweathermap.org/img/wn/' + weatherData.iconCode + '@2x.png'" alt="{{ weatherData.weatherCondition }}" class="weather-icon">
    <p class="temperature">{{ weatherData.temperature }}°C</p>
    <p class="description">{{ weatherData.description }}</p>
    <div class="temperature-row">
        <div class="temperature-column">
            <div class="arrow">▼</div>
            <p>{{ weatherData.minTemperature }}°C</p>
            <div class="label">Min</div>
        </div>
        <div class="temperature-column">
            <div class="arrow">▲</div>
            <p>{{ weatherData.maxTemperature }}°C</p>
            <div class="label">Max</div>
        </div>
    </div>
</div>
