.widget-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.widget {
    width: 250px;
    height: 370px;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin: 0 10px;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls button {
    margin: 0 10px;
}