<mat-form-field class="search-field" [ngClass]="{ 'dark-theme': themeService.darkTheme }">
    <input type="text" placeholder="Search City" aria-label="Search City" matInput [formControl]="myControl"
         (keydown.enter)="getWeatherOnEnter()">
    <button mat-button class="get-weather-button" (click)="getWeather(myControl.value)">Get Weather</button>
</mat-form-field>
<div class="widget-slider" [ngClass]="{ 'dark-theme': themeService.darkTheme }">
    <div class="slider">
        @for (widget of widgets.slice(currentIndex, currentIndex + 3); track widget) {
        <div class="widget">
            <app-widget [weatherData]="widget"></app-widget>
            <button mat-icon-button class="close-button" (click)="closeWidget(widgets.indexOf(widget))">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        }
    </div>
    <div class="slider-controls">
        @if (showButtons) {
        <button mat-icon-button class="prev-button" (click)="prevWidget()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button class="next-button" (click)="nextWidget()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        }
    </div>
</div>