<div class="layout-container">
    <div class="content">
        <mat-toolbar>
            <div class="left-section">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="logo">Weather</span>
            </div>
            <div class="right-section">
                <span class="theme-label">Dark</span>
                <mat-slide-toggle></mat-slide-toggle>
                <span class="theme-label">Light</span>
            </div>
        </mat-toolbar>
    </div>
    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side">
            <mat-nav-list>
                <mat-list-item>
                    <button routerLink="/home" mat-button><mat-icon>home</mat-icon> Home</button>
                </mat-list-item>
                <mat-list-item>
                    <button routerLink="/widgets" mat-button><mat-icon>widgets</mat-icon> Widgets</button>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center; min-width: 600px;">
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>