.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0;
    height: 91vh;

    .weather-data {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
        margin-bottom: 300px;

        .temperature-and-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            .temperature {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 20px;
                color: #fff;
            }

            .condition {
                margin-bottom: 20px;
                color: #fff;
            }
        }

        .humidity-and-wind {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;

            .humidity,
            .wind {
                text-align: center;
                color: #fff;

                &-value {
                    margin-top: 5px;
                }
            }

            .humidity-line {
                border-left: 1px solid #fff;
                height: 50px;
                margin: 0 30px;
            }
        }
    }

    .city {
        margin-right: 200px;
        margin-top: 20px;
        font-size: 36px;
        margin-bottom: 300px;
        color: #fff;

        &::after {
            content: "";
            display: block;
            width: 35px;
            border-top: 1px solid #fff;
            margin: 20px auto 0;
        }
    }

    &.morning-background {
        background: linear-gradient(to bottom, #FFD700, #87CEEB);
    }

    &.afternoon-background {
        background: linear-gradient(to bottom, #87CEEB, #00FF7F);
    }

    &.evening-background {
        background: linear-gradient(to bottom, #FFA500, #FF4500);
    }

    &.night-background {
        background: linear-gradient(to bottom, #191970, #000000);
    }
}