.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
}

mat-toolbar {
    width: 100%;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    margin-left: 10px;
}

.right-section {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.theme-label:first-child {
    margin-right: 10px;
}

.theme-label:last-child {
    margin-left: 10px;
}

mat-drawer-container {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
}

mat-drawer {
    flex-shrink: 0;
    width: 210px;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
}