.layout-container {
    display: flex;
    height: 55px;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 16px; /* отступ слева */
  }
  
  .right-section {
    display: flex;
    align-items: center;
    padding-right: 16px; /* отступ справа */
  }
  
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  mat-sidenav {
    position: fixed;
    bottom: 550px;
  }
  
  